* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #EDF2F8;
}

.grid-container {
    display: grid;
    margin: 30px;
    max-width: 80vw;
    gap: 20px;
}

.box{
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.grid-box-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.box .grid-box-profile img{
    border-radius: 50%;
}

.box .grid-box-profile .name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.box .grid-box-profile .name span {
    opacity: 0.5;
}

.box .grid-box-testimony-title {
   font-weight: 600;
   margin-bottom: 20px; 
   text-align: left;
}

.box .grid-box-testimony {
    opacity: 0.5;
    text-align: left;
}


.box-1 {
    background-color: #733FC8;
}

.box-2 {
    background-color: rgb(72, 85, 106);
}

.box-3 {
    background-color: rgb(255, 255, 255);
}

.box-4 {
    background-color: rgb(25, 33, 46);
}

.box-5 {
    background-color: white;
    
}

.black-color{
    color: black;
}

@media (min-width: 1000px){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }

    .box-1{
        grid-column: span 2;
    }

    .box-4 {
        grid-column: span 2;
    }

    .box-5{
        grid-row: 1/ span 2;
        grid-column-start: 4;
    }
}